[Unit]
Description=Monitor logs and generate telegram alerts
After=network.target

[Service]
Type=simple
WorkingDirectory={{WORKDIR}}
EnvironmentFile={{ENV}}
ExecStart={{PYTHON_BIN}} telegram-log-monitor.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
